.ipynb_checkpoints
*.pyc
satellite_RFI.egg-info
Notebooks/Satellite_position/Satellite_position_TESTING.ipynb
Notebooks/Satellite_simulations/Satellite_simulations-testing.ipynb
Notebooks/BusyWeek/
Notebooks/Testing/
build/
dist/
Notebooks/param_import/param.py
Notebooks/MKAT_recalibration/Generating_Calibrated_Data_BGM.ipynb
Notebooks/chi2_testing/chi2_py_files/full_loop_file.sh
Notebooks/chi2_testing/chi2_py_files/multi_run.sh
Notebooks/chi2_testing/chi2_py_files/running_test_casefor_py.ipynb
Notebooks/chi2_testing/chi2_py_files/sat_optimization.py
Notebooks/chi2_testing/chi2_notebooks/final_all_test.ipynb
